/*
*	TEMPLATE
*/
body{
	margin:0;
	padding:0;
	background-color:#000;
}
#bannerFrame{
	padding-top:20px;
	height:150px;
}
	#banner{
		width:960px;
		height:140px;
		background-image:url(../images/banniere.jpg);
	}


#menuFrame{
	border-top:1px solid #777;
	border-bottom:1px solid #777;
}
	#menu{
		width:960px;
		height:30px;
	}
#content{
	margin-top:10px;
	width:960px;
	min-height:400px;
	padding:0;
	padding-top:20px;
	padding-bottom:20px;
	background-color:#fff;
}

	#footer{
		margin-top:10px;
		width:960px;
		height:80px;
		margin-bottom:10px;
		background-color:#fff;
	}
.center{
	margin-left:auto;
	margin-right:auto;
}

/*
*	MENU
*/
#menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
#menu ul ul{
	position:relative;/*le positionning est necessaire pour le z-index*/
	z-index:10;
}
#menu li{
	float:left;
	width:160px;
	text-align:center;
}
#menu a{
	display:block;
	text-decoration:none;
	color:#000;
	margin:4px;
}
#menu a:hover{
	background-color:#000;
	color:#fff;
}
#menu a{
	background-color:#f90;
	line-height:22px;
}
#menu .highlight{
	color:#fff;
	background-color:#25a;
}
#menu li li{
	clear:both;
	width:160px;
	display:none;
}
#menu li li a {
	margin-top:0;
	margin-bottom:0;	
}
#menu li:hover li{
	display:block;
}

/*
*	FORMULAIRES
*/
.inputStandardForm
{
	width: 500px;
	height: 300px;
}
.form{
	border:1px solid #999;
	padding:10px;
}
.form p{
	line-height:20px;
}

#login{
	width:300px;
	margin:0 auto;
}
/*
*	STYLE
*/


/*
*	DIVERS
*/
.left{
	float:left;
	text-align:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
.centerAlign{
	text-align:center;

